<ion-content>

<div class="upper">
  <div class="icon">
    <ion-icon name="logo-ionic"></ion-icon>
  </div>
  <p id="login">LearnTech</p>


  <div class="middle">
  <div class="box">


         <p>Please Login to your account</p>
         <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input [(ngModel)]="user.email"   type="email"  name="email" placeholder="Email" required email ></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="mail"></ion-icon>
         </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="user.password" [type]="type ? 'password' : 'text'" name="email" placeholder="Password" required email></ion-input>
          <ion-icon class="ion-align-self-center" slot="end" name="eye-outline" (click)="changeType()"></ion-icon>
        </ion-item>


        <p id="forgetPassword" (click)="goToForget()" >Forget Password </p>


        <div class="btn">
           <ion-button (click) = "LogIn(user)">Login</ion-button>

        </div>
          <p id="media">Or Login using Social Media</p>


          <div class="socizlMedia">
            <ion-icon name="logo-facebook" (click)="fblogin()"></ion-icon>
            <ion-icon name="logo-twitter" (click)="twlogin()"></ion-icon>
            <ion-icon name="logo-google" (click)="glogin()"></ion-icon>
          </div>

  </div>


</div>
<div class="navigartion">
 <p [routerLink]="['/register']">
   Don't have an Account ? Register Now
 </p>

</div>

</div>

</ion-content>
